img {
    /* width: 100px; */
    width: 30%;                         /* percentages as it changes responsively with body width */
    /* margin: 1.6666666%; */
    margin: calc(10%/6);                /* distributing margin evenly in b/w images without Flexbox */
}

/* 30 + 30 + 30

10% / 6 = 1.6666% */

nav {
    text-transform: uppercase;
    width: 30%;
    margin-left: calc(10%/6);
    border-bottom: 2px solid #f1f1f1;
    /* padding: 0 1.3% 1% 0; */
    padding: 1.2em 0;
    font-family: Raleway, sans-serif;
    font-size: 1.5em;
}